.project-card-wrapper {
    background: linear-gradient(#212121, #212121) padding-box,
        linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 16px;
}

.project-card-wrapper :hover {
    background: linear-gradient(#212121, #212121) padding-box,
        linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 16px;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
}